<p style="color: green"><%= notice %></p>

<h1>Produtos</h1>

<div id="produtos">

  <% @produtos.each_with_index do |produto, index| %>
    
    <div class=<%= css_for(index)%>>
      <%= render produto %>
      <p>
        <%= link_to "Show this produto", produto %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New produto", new_produto_path %>
